div.nav {
  background: $tbg;

  .wrap {
    .logo {
      img {
        display: none;
      }
      &:after {
        content: "";
        height: 50px;
        width: 50px;
        background-image: $bgimg;
      }
    }
    .links {
      .browse-wrap {
        display: none;
      }
    }
  }
}
