$tbg: transparent !important;
$bgimg: url("https://host.nyaator.co/$/rHERn");
$shadow: 0 0 5px 0 black;
$page-content: rgb(0, 0, 30);
// $primary: black !important;
$radius: 6px;
$primary: #00000080 !important;
$primary-text: #dcdde1;
$primary-bg: url("https://host.nyaator.co/$/hfg17"); //miku hatsune image.
$blurfiler: blur(3px);

//used for avatar animations.
$barared: #ed4c67;
$lavendertea: #d980fa;
$merchantmarineblue: #0652dd;
